{% extends 'base.html' %}

{% block content %}

    <div class="card" style="padding: 10px 35px 3px 35px;">

    <div class="content">

        <div class="row">

            <div id="site-layout-example-top" class="col s12">

                <p class="flat-text-logo center white-text caption-uppercase">Sorry but we couldn’t find this page :(</p>

            </div>

            <div id="site-layout-example-right" class="col s12 m12 l12">

                <div class="row center">

                    <h1 class="text-long-shadow col s12">404</h1>

                </div>

                <div class="row center">

                    <p class="center white-text col s12">It seems that this page doesn’t exist.</p>

                    <p class="center s12">

                        <a href="{% url 'panel.index' %}" class="btn waves-effect waves-light">Homepage</a>

                    <p>

                    </p>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

