{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-list-ul"></i> Add new Employer</h1>
        <p>Add new employer to the list</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="small_div">
                    <div class="container">
                        <div class="container-contact100">
                            <div class="wrap-contact100">
                                <br>
                                <div class="contact100-form-title"
                                     style="background-image: url('../static/images/add.jpg');border-radius: 12px;">
				                        <span class="contact100-form-title-1">
					                     Add a new employer
				                           </span>
                                </div>

                                <form method="POST" class="contact100-form" action="/setting/create">
                                   {% csrf_token %}
                                    <br>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">First Name:</span>
                                        {{ form.first_name}}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Last Name:</span>
                                        {{ form.last_name}}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Email:</span>
                                        {{ form.email}}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">CIN </span>
                                        {{ form.cin_code}}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">CNSS code</span>
                                        {{ form.cnss_code }}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Birth date </span>
                                        {{form.birth_date}}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Hire date </span>
                                        {{form.hire_date}}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Experience years </span>
                                        {{form.experience_years_number}}
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Business unit:</span>
                                        {{form.be}}
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Position:</span>
                                        {{form.position}}
                                    </div>
                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Managers:</span>
                                        {{form.managers}}
                                    </div>


                                    <div class="wrap-input100 validate-input">
                                        <span class="label-input100">Teams:</span>
                                        {{form.team}}
                                    </div><br>
                                    <div>
                                        {{form.tag_manager}}&nbsp;&nbsp;Manager
                                    </div>

                                    <div>
                                      <br><br>
                                    <input class="btn btn-success" type="submit" value="Create">

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}