
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-list-ul"></i> Page not found</h1>
        <p>Yo the page you are looking for doesn't exist !!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span style="color: #45637f;">0</span>4</h1>
			</div>
			<h2>Page not found</h2>
            <p>Your information not found in the database,Please check with your manager or the site admin if you believe this is a mistake</p>
		</div>

            </div>
        </div>
    </div>
</div>
{% endblock %}