{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col s12">

        <div style="padding: 35px;" class="card">

            <div class="row">

                <div class="col s8">

                    <a class="waves-effect waves-light btn" href="{% url 'leaveRequest.index' %}">
                        <i class="material-icons">arrow_back</i>
                    </a>

                </div>

            </div>

            <div class="row">

                <div class="col s10 offset-s1">

                    {% include 'parts/errors.html' %}

                    <form method="POST">

                        {% csrf_token %}

                        <div class="form-group row top">


                            <div class="input-field col s12">


                                <!--<label  data-error="wrong" data-success="top">-->
                                <!--Leave Request by {{ user.first_name }} {{ user.last_name }}</label>-->

                            </div>


                        </div>


                        {% include 'parts/form.html' %}


                        <div class="form-group row right">

                            <div class="col s9">

                                <button type="submit" class="btn btn-primary">

                                    Submit

                                </button>


                            </div>
                        </div>


                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}

