{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div class="app-title">
    <div>
        <h4><i class="fa  fa-user"></i> CREATE ACCOUNT?</h4>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <section class="login-content">
                    <div class="login-box" style="background-color: white;width: 490px;min-height: 550px">
                        <form class="login-form" action="" method='POST'>
                            {% csrf_token %}

                            <div class="form-group">
                                <div class="utility">
                                    <div class="animated-checkbox">
                                        <div class="form-group" style="width: 400px;">
                                            <label>User name :</label>
                                            {{form.username}}
                                            <small class="form-text text-muted">Required. 150 characters or fewer.
                                                Letters, digits and @/./+/-/_ only.
                                            </small>
                                        </div>

                                        <div class="form-group" style="width: 400px;">
                                            <label>Password :</label>
                                            {{form.password1}}
                                            <small class="form-text text-muted">
                                                <ul>
                                                    <li>Your password can't be too similar to your other personal
                                                        information.
                                                    </li>
                                                    <li>Your password must contain at least 8 characters.</li>
                                                    <li>Your password can't be a commonly used password.</li>
                                                    <li>Your password can't be entirely numeric.</li>
                                                </ul>
                                            </small>
                                        </div>
                                        <div class="form-group" style="width: 400px;">
                                            <label>Password confirmation :</label>
                                            {{form.password2}}
                                            <small class="form-text text-muted">
                                                Enter the same password as before, for verification.
                                            </small>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width: 160px;">
                                <label>Admin :</label>
                                  <div style="margin-top: -30px;">{{form.is_superuser}}</div>

                            </div>

                            <div class="form-group btn-container">
                                <button class="btn btn-primary btn-block" style="background-color: #45637f;"
                                        type="submit"><i class="fa fa-sign-in fa-lg fa-fw"></i>Create
                                </button>
                            </div>
                            <br><br><br>

                        </form>
                    </div>
                </section>


            </div>


        </div>

    </div>
</div>

{% endblock %}