{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block stylesheets %}
         <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block body %}
    <div class="panel panel-container col-sm-10 col-sm-offset-4 col-lg-6 ">
        <div class="row">
            <div class="col-sm-offset-2 col-lg-8 ">
                <div class="profile-userpic">
                    <img class="img-responsive" src="{{ user.profile.image.url }}" >
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{ user.username }}</div>
                    <div class="profile-usertitle-status">{{ user.email }}</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-sm-offset-2 col-lg-8 ">
                <div class="container-form">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4"> Change password </legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <a class="btn btn-primary" type="submit" href="{% url 'profile' %}">Update</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
