{% extends 'base.html' %}
{% load static %}

{% block body %}
        <div class="row">
            <div class="col-sm-12 col-sm-offset-2 col-lg-8 ">
                <div class="container-form">
                    <h2>You have been logged out</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <a href="{% url 'login' %}">Log In Again</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}