



{% extends 'base.html' %}
{% load static %}
{% block content %}


      <ol class="breadcrumb ">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Position </li>

      </ol>



     <div class="box box-info">
            <div class="box-header">

                    <a style="float: right"  class="badge badge-primary" href="{% url 'position.create' %}">
                        add Position
                    </a>
            </div>

            <div class="box-body table-responsive no-padding">
              <table class="table table-hover table-earning">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">code</th>
      <th scope="col">libelle</th>
      <th scope="col">action</th>
    </tr>
  </thead>

                   <tbody>

                                {% for item in list_position %}

                                    <tr>

                                        <td> {{ item.id }}</td>

                                        <td> {{ item.position_code}}</td>
                                        <td> {{ item.libelle}}</td>
                                    <td style="width: 40px">
                                         <a href="{% url 'position.update' item.id %}">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                        <a  style="color: red" href="{% url 'position.delete' item.id %}">
                                             <i class="fa fa-trash"></i>
                                         </a>


                                    </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
{% endblock %}